body {

    background-color: #D2DAFF;
}

hr {
    
    border-style: dotted none none none;
    background-color: #D2DAFF;
    border-color: white;
    border-width: 5px;
    width: 25%;

}

/***********CLASS*******/

.edu{
    text-align: center;
}

#skills{
    text-align: center;
}